.nav {
	background: var(--color-secondary);
	padding: 16px 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navLogo {
	height: 32px;
}

.navList {
	display: flex;
	align-items: center;
	width: auto;
	column-gap: 16px;
}
.navList .navItem {
	height: 32px;
	width: 32px;
}
.navItem a {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}

@media screen and (min-width: 1200px) {
	.nav {
		padding: 16px 6%;
	}
}
