.footer {
	padding: 3.2rem 5%;
	background: var(--color-dark);
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2.4rem;
	font-size: 1.4rem;
}

.copy {
	color: var(--color-light);
}
.copy span {
	color: var(--color-primary);
}

.author {
	color: var(--color-light);
}
.author span {
	color: #d6333e;
}

@media screen and (min-width: 600px) {
	.footer {
		flex-direction: row;
		justify-content: space-between;
	}
}
